




<div class="wrapper">

    <section class="frame">

        <app-app-top-bar></app-app-top-bar>

        <h3>Cart</h3>

        
        <a routerLink="/shipping" style="display: flex;">
            <h6>Shipping Prices<i class="uil uil-pricetag-alt"></i></h6>
        </a>

        <div class="cart-item" *ngFor="let item of items">
            <span>{{ 'Phone '+item.name }}</span>
            <span style="margin-left: o.2rem;">{{  item.price | currency }}</span>
        </div>

        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="checkoutForm">

            <div class="input-container">
              <label for="name">
                Name<span class="starCase">*</span>
              </label>
              <input id="name" type="text" formControlName="name">
            </div>
          
            <div class="input-container">
              <label for="address">
                Address<span class="starCase">*</span>
              </label>
              <input id="address" type="text" formControlName="address">
            </div>
          
            <button class="button" type="submit" id="share-btn">Purchase</button>
          
        </form>

        
    </section>

</div>