



.frame{
    /*padding: 25px 30px;*/
    background: #fff;
    background-color: #fff;
    box-shadow: 0 0 128px 0 rgba(0,0,0, 0.1), 0 32px 64px -48px rgba(0,0,0,0.5);
    width: 450px;
    border-radius: 16px;
    margin-top: 10px;
    border: none;
    padding: 40px;
    /**start..centering form*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.frame:hover
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product_frame
{
    margin-top: 1.3rem;
}

#share-btn
{
    background-color: white;
    border: 0.1rem solid black;
    color: black;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
a
{
    text-decoration: none;
    color: #000000;
    font-size: 2rem;
    cursor: pointer;
}
h3
{
    color: #00000075;
}
a:hover
{
    color: #00000075;
}